* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    margin-top: 150px;
    background-color: #000000db;
    color:whitesmoke;
}

#header {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7aa97a;
    color: black;
}

.logo {
    margin-left: 30px;
    font-size: 30px;
}

nav ul {
    margin-right: 20px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

nav ul li a,
nav ul li i {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after,
nav ul li i::after {
    content: '';
    width: 0;
    height: 3px;
    background: #08721d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after,
nav ul li i:hover::after {
    width: 100%;
}

button {
    color: white;
    border-radius: 10px;
    background-color: #08721d;
    height: 40px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
}

img {
    max-width: 100%;
    display:grid;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 20px;
    padding: 30px;
}
.card {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #b18b38; 
    border-radius: 10px; 
}

.cart-modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform: translateX(-200%);
    transition: .5s ease-out;
}

.cart-modal {
    height: 100vh;
    width: 30%; 
    background-color: rgb(50,50,50);
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
#close-btn {
    font-size: 1.5rem;
    align-self: flex-end; 
    margin: .5em 1em 0 0; 
    color: white;
    cursor: pointer;
}

.product-rows {
    margin-top: 1em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.product-row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 1em 0;
}

.cart-image {
    width: 8rem; 
    margin: 0.5em; 
}

.cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}
.cart-desc{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}